* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("images/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(215, 235, 222);
	background-blend-mode: multiply;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: #fff;
	width: 400px;
	border-radius: 20px;
}

.img {
	border-radius: 20px 20px 0 0;
}

main {
	text-align: center;
	margin: auto;
	width: 80%;
}

main h3 {
	margin: 20px 0;
}

main h4 {
	margin-bottom: 10px;
}

main p {
	color: hsl(224, 23%, 55%);
	margin: auto;
	width: 80%;
	margin-bottom: 15px;
}

.plan {
	background-color: hsl(225, 100%, 98%);
	border-radius: 5px;
	display: flex;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.plan-left {
	display: flex;
	align-items: center;
}

.icon {
	margin-right: 10px;
}

.plan a {
	color: blue;
}

.plan a:hover {
	font-weight: bold;
}

footer {
	text-align: center;
}

footer p {
	color: hsl(224, 23%, 55%);
	margin-bottom: 30px;
}

footer p:hover {
	font-weight: bold;
}

.btn {
	background-color: hsl(245, 75%, 52%);
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 30px;
	color: #fff;
}

.btn:hover {
	transform: scale(0.98);
}

@media screen and (max-width: 500px) {
	.container {
		background-color: #fff;
		width: 280px;
		border-radius: 15px;
		margin-top: 20px;
	}
}
